
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<div class="row">
    <div class="col-8 offset-2">
        <form name="userInfo" method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group">
                <label for="InputName">姓名</label>
                <input type="text" class="form-control" id="InputName" name="name">
                <small id="nameCheckInfo" class="form-text text-danger" hidden>帳號已存在</small>
            </div>
            <div class="form-group">
                <label for="InputEmail">電子郵件</label>
                <input type="text" class="form-control" id="InputEmail" name="email">
            </div>
            <div class="form-group">
                <label for="InputEmail">年紀</label>
                <input type="number" class="form-control" id="InputAge" name="age">
            </div>
            <div class="custom-file  mt-3">
                <input type="file" class="custom-file-input" id="customFile" name="file">
                <label class="custom-file-label" for="customFile">選擇檔案</label>
            </div>

            <button type="submit" class="btn btn-primary mt-3 mb-2">Submit</button>
        </form>
        <div class="alert alert-info" id="div1"></div>
    </div>
</div>

@section Scripts{
    <script>

        const txtName = document.querySelector('#InputName');
        const nameCheckResult = document.querySelector('#nameCheckInfo')
        const btnSubmit = document.querySelector('.btn');
        const divInfo = document.querySelector('#div1');
        //=========確認帳號是否重覆XMLHttpRequest() Get=============
        txtName.addEventListener('blur', () => {
            const xhr = new XMLHttpRequest();

            xhr.addEventListener('load', () => {
                const data = xhr.responseText;
                if (data == "true") {
                    nameCheckResult.removeAttribute('hidden')
                    btnSubmit.setAttribute('disabled', 'disabled')
                }
                else {
                    nameCheckResult.setAttribute('hidden', 'hidden');
                    btnSubmit.removeAttribute('disabled');
                }
            })
            xhr.open('GET', '@Url.Content("~/api/NameCheck")'+`?name=${InputName.value}`);
            xhr.send();
        });

    //================XMLHttpRequest FormData=======================
    @*txtName.addEventListener('blur', () => {
        const formData = new FormData(document.userInfo);
        const xhr = new XMLHttpRequest();
        //console.log('blur');

        xhr.addEventListener('load', () => {
            //console.log('load');
            const data = xhr.responseText;
            if (data=="true") {
                nameCheckResult.removeAttribute('hidden')
                btnSubmit.setAttribute('disabled','disabled')
            }
            else {
                nameCheckResult.setAttribute('hidden', 'hidden');
                btnSubmit.removeAttribute('disabled');
            }
        })
        xhr.open('POST', '@Url.Content("~/api/NameCheck")');
        xhr.send(formData);
    });*@
        //==================fetch 方式========================
    btnSubmit.addEventListener('click', (evt) => {
        evt.preventDefault();
        const formData = new FormData(document.userInfo);

        fetch('@Url.Content("~/api/register")', {
                 method: "post",
                body: formData
        })
        .then(response => response.text())
        .then(data => divInfo.innerHTML = data);
    });


        //==================XmlHttpRequest 方式========================
        @* btnSubmit.addEventListener('click', (evt) => {
            evt.preventDefault(); //停止預設行為 submit link
            const formData = new FormData(document.userInfo);
            //step1
            const xhr = new XMLHttpRequest();
            xhr.addEventListener('load', () => {
                //step3
                const data = xhr.responseText;
                //顯示資料
                divInfo.innerHTML = `<h3>${data}</h3>`;
            })
            //step2
            //xhr.open('POST', '@Url.Content("~/api/index")');
            xhr.open('POST', '@Url.Content("~/api/register")');
            xhr.send(formData);
        });*@

    </script>
}

